* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* commons */
body  {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
header {
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: 114% 108%;
    height: 85vh;
}
.container {
    width: 85%;
    margin:auto;
}

.half-width {
    width: 50%;
}

/* clearfix */
.container::after {
    content: "";
    display: table;
    clear: both;
}

hr {
    width: 90%;
    margin: auto;
    color: #949494;
}

.grey-font-properties {
    font-size: 18px;
    color: #949494;
    font-weight: 500;
}



/* header */
.nav {
    height: 80px;
    line-height: 80px;
}
.logo, 
.menu-left,
.menu-right {
    float: left;
}
.logo {
    width: 14%;
    
}
.logo img {
    vertical-align: middle;
}

ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    padding:0 6px;
}

.menu-left {
    text-align: left;
    width: 46%;
}
.menu-right {
    text-align: right;
    width: 40%;
}

.container a {
    text-decoration: none;
    color: white;
}
a:not(.btn, #blue-link ):hover {
    cursor: pointer;
    color: #89c90c;
}

/* buttons */
.btn {
   width: 100%;
   padding: 8px 18px; 
   border-radius: 5px;
   text-transform: uppercase;
}
.btn-large {
    padding:20px;
    font-size: 16px;
}
.blue-btn {
    border: 1px solid white;
    background-color: #0C325A;
}
.green-btn {
    border: 1px solid #89c90c;
    background-color: #89c90c;
}
.blue-btn:hover {
    background-color: white;
    color: #89c90c;
}
.green-btn:hover {
    background-color: white;
    color: #89c90c;
}

/* jumbotron */
.jumbotron {
    height: 500px;
    position: relative;
}
.jumbotron-middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

h1 {
    color: white;
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 1px;
}


/* first section, grey  */
.grey {
    background-color: #D3D3D3;
    height: 140px;
    position: relative;
}
.grey-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
    text-align:center;
}

h3 {
    font-size: 26px;
}


/* second section, white : composta da due parti suddivise da un hr */
.white {
    height: 960px;
}

.three-col,
.two-col {
    margin: 25px 0;
}

.info {
    height: 480px;
    width:calc(33.3% - 40px);
    margin: 0 20px;
    float: left;
    text-align: center;
    position: relative;
}
.info img {
    max-height: 160px;
}
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info hr {
    width: 30%;
}
.info h2,
.info p {
    padding: 20px 0;
}

.info h2 {
    color: #89c90c;
}


/* third section, due colonne  */
.info-2 {
    height: 480px;
    width: calc(50% - 50px);
    margin: 0 25px;
    float: left;
    padding: 10px;
}
.content-4 img {
    width: 100%;
    max-height: 400px;
}
.info-2 h2 {
    font-size: 32px;
    width: 80%;
}
.info-2 h2,
.info-2 p{
    padding-top: 20px;
}

#blue-link {
    display: inline-block;
    color: #4271A2;
    padding-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#blue-link:hover {
    color: #89c90c;
}



/* footer */
footer {
    height: 150px;
    line-height: 40px;
    vertical-align: middle;
    padding-top: 30px;
    position: relative;
    background-color: #D3D3D3;
}

footer .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer h2 {
    display: inline-block;
    width: 33%;
    font-size: 30px;
    font-weight: 500;
}

.nav-footer {
    display: inline-block;
    text-align: right;
    width: 66%;
}

.no-uppercase li p {
    margin-right: 20px;
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
    color: #949494;
    font-weight: 500;
}

#space {
    padding-left: 30px;
}

#underscore {
    border-bottom: 2px solid #949494;
    padding: 0;
}

/* fixed bottom help button */

.fixed {
    position: fixed;
    left: 82%;
    bottom: 0;
    z-index: 2;
    padding-bottom: 6px;
}