* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
header {
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: 114% 108%;
    height: 90vh;
}
.container {
    width: 85%;
    margin:auto;
}

.half-width {
    width: 50%;
}


/* header */
.nav {
    height: 80px;
    line-height: 80px;
}

.logo, 
.menu-left,
.menu-right {
    float: left;
}
.logo {
    width: 14%;
    
}
.logo img {
    vertical-align: middle;
}


.container::after {
    content: "";
    display: table;
    clear: both;
}


ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    padding:0 6px;
}

.menu-left {
    text-align: left;
    width: 46%;
}
.menu-right {
    text-align: right;
    width: 40%;
}

.container a {
    text-decoration: none;
    color: white;
}
a:not(.btn):hover {
    cursor: pointer;
    color: #89c90c;
}

/* buttons */
.btn {
   width: 100%;
   padding: 8px 18px; 
   border-radius: 5px;
   text-transform: uppercase;
}
.btn-large {
    padding:20px;
    font-size: 16px;
}
.blue-btn {
    border: 1px solid white;
    background-color: #0C325A;
}
.green-btn {
    border: 1px solid #89c90c;
    background-color: #89c90c;
}
.blue-btn:hover {
    background-color: white;
    color: #89c90c;
}
.green-btn:hover {
    background-color: white;
    color: #89c90c;
}


.jumbotron {
    height: 540px;
    position: relative;
}
.jumbotron-middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

h1 {
    color: white;
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 1px;
}